html, body, #mapid {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}


#layer-panel {
    position: absolute;
    top: 24px;
    right: 14px;
    padding: 22px;
    background: #FFFFFF;
    z-index: 1000;
}